HTML {
    background-color: rgb(196, 234, 255);
}

p {
    background: rgb(222, 135, 222);
    padding: 4%;
    max-width: fit-content;
}

UL {
    color: navy;
}

img {
    display: block;
    max-width: 50%;
}

.highlight_01 {
    background-color: rgb(238, 146, 48);
}

p2 {
    background: rgb(245, 182, 245);
    padding: 2%;
}

.highlight_01:hover {
    background-color: rgb(132, 132, 255);
}

ul:hover {
    background-color: antiquewhite;
    padding: 8%;
    max-width: fit-content;
    max-height: fit-content;
}

#main {
    background-color: antiquewhite;
}